@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 300px;
    height: 300px;
    box-shadow: 0 20px 30px #00000010;
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border: 0.5px solid #ff8a4247;cursor: pointer ;
    transition: border 0.5s linear;
    box-shadow: 0.5s linear;
    gap: 5px;
}
.card:hover{
    box-shadow: 0 20px 30px #ff8a4243 ;
    border: 0.5px  solid #ff8a42 ;
}
img{
    width: 50px;
}
h2{
    font-size: 3rem;
}

h3,h4{
    padding: 5px 0 0 0 ;
    color: #ff8a42;
}
.value{
    width: 150px;
    background: #ff8a42;
    display: flex;justify-content: center;
    flex-direction:row-reverse;
    position: relative;
    color: #ffff;
    border-radius: 5px;
    margin-top: 60px ;
}
.value img{
    position: absolute;
    right: -20px;
    top: -50px;
}
.footer_box{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    background-color:  #bd2b2b;
    box-shadow: 0 0 20px #00000016;
    border:0.5px solid #ff8a42 ;
    border-bottom: 0;
    transition: border 0.5s linear ;
    margin-top: 5px;
}


.footer_box {
    margin-top: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: firebrick;
    transition:  0.5s linear ;
    gap: 5px;
    
}
.value:hover{
    background-color: pink;
    cursor: pointer;
    box-shadow: #ff8a4243;
    transition: 1s;
   }

   .left{
    display:inline-block;
    background-color: #21def7;
    width: 50px;
    float: left;
    padding: 10px;
    margin: 2px;
    text-align: center;
   }
   .right{
    display: inline-block;
    text-align: center;
    color: white;
    background-color: rgb(139, 243, 42);
    width: 50px;
    padding: 10px;
    margin: 2px;
    color: white;

   }
