@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 250px;
    box-shadow: 0 20px 30px #00000010;
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border: 0.5px solid #ff8a4247;cursor: pointer ;
    transition: border 0.5s linear;
    box-shadow: 0.5s linear;
}
.card:hover{
    box-shadow: 0 20px 30px #ff8a4243 ;
    border: 0.5px  solid #ff8a42 ;
}
img{
    width: 50px;
}
h2{
    font-size: 3rem;
}

h3,h4{
    padding: 5px 0 0 0 ;
    color: #ff8a42;
}
.value{
    width: 150px;
    background: #ff8a42;
    display: flex;justify-content: center;
    flex-direction:row-reverse;
    position: relative;
    color: #ffff;
    border-radius: 5px;
    margin-top: 60px ;
}
.value img{
    position: absolute;
    right: -20px;
    top: -50px;
}
.footer_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 0 20px #00000016;
    border:0.5px solid #ff8a42 ;
    border-bottom: 0;
    transition: border 0.5s linear ;
}